@model GummiBearKingdom.Models.Product

<h1>Details</h1>

<div class="details-container">
    <div class="details-content-inline">
        <span id="details-content-name">@Model.Name</span>
        <span id="details-content-cost">$@Model.Cost</span>
    </div><br />
    <span id="details-content-coo">From: @Model.CountryOfOrigin</span>
    <br />
    <span id="details-content-desc">@Model.ProductDescription</span>
    <hr />
    <span>@Html.ActionLink("Edit", "Edit", new { id = @Model.Id }, new { @class = "edit-link"}) | @Html.ActionLink("Delete", "Delete", new { id = @Model.Id }, new { @class = "delete-link" })</span>
</div>

<a href="/Products" class="return-link">Return to Products</a>
